.container {
    /* border: 1px solid red; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-family: monospace;
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}